@use '../base/var.base.scss';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: var.$space;
}

.loading > div {
  display: flex;
  justify-content: center;
  width: 100% !important;
  overflow: hidden;
  min-width: calc(var.$size);
  max-width: calc(var.$size * 3);
  height: var.$spaceSmall !important;
  min-height: var.$spaceSmall !important;
  max-height: var.$spaceSmall !important;
  background: var(--container);
  background-blend-mode: var.$blend;
  background-size: var.$filterSize;
}

.progressBar .loading > div {
  max-width: 100%;
}

.loading > div > div {
  height: var.$spaceSmall !important;
  width: 35% !important;
  animation: 0.85s infinite sway ease;
  background: var(--primary);
}

.progressBar .loading > div > div {
  animation: 1s infinite sway ease;
}
