@use '../base/var.base.scss';

#create {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  width: 100%;
  gap: var.$space;
  padding: var.$space;
  padding-top: calc(var.$spaceXSmall * 11);
}

#create > form {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var.$space;
  border-radius: 0;
}

#create > form > header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var.$space;
  padding: var.$space;
  width: 100%;
  box-shadow: var(--shadow);
  background: var(--container);
  background-blend-mode: var.$blend;
}

#create > form > main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var.$space;
  padding: var.$space;
  box-shadow: var(--shadow);
  background: var(--container);
  background-blend-mode: var.$blend;
}

#create > form > main > button {
  align-self: end;
}

#create > form > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: var.$space;
  padding: var.$space;
  box-shadow: var(--shadow);
  background: var(--container);
  background-blend-mode: var.$blend;
}

#create > form > footer {
  display: flex;
  align-items: end;
  align-self: end;
  flex: 1;
}

@media screen and (min-width: var.$mobileWidth) {
  #create {
    margin-top: 0;
    padding-left: calc(var.$spaceXSmall * 46);
  }
}

@media screen and (min-width: var.$tabletWidth) {
  #create {
    padding-right: calc(var.$spaceXSmall * 46);
  }
}
