@use '../base/var.base.scss';

#error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: var.$space;
  gap: var.$space;
}

#error svg {
  min-height: calc(var.$size * 3);
  min-width: calc(var.$size * 3);
  padding: 0;
}
