@use '../base/var.base.scss';

#poll {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  flex: 1;
  padding: var.$space;
  gap: var.$space;
  padding-top: calc(var.$spaceXSmall * 11);
}

#poll > main {
  display: flex;
  flex-direction: column;
  gap: var.$space;
  flex: 1;
}

#poll > main > footer {
  display: flex;
  flex-direction: column;
  padding: var.$space;
  gap: var.$spaceSmall;
  background: var(--container);
  box-shadow: var(--shadow);
  background-blend-mode: var.$blend;
}

#poll > main > footer {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#poll > main > footer > button {
  position: relative;
  justify-content: space-between;
  width: 100%;
  right: 0;
  top: 0;
  padding-right: calc(var.$spaceSmall * 3);
  min-height: var.$size;
}

#poll > main > footer > button > div {
  overflow: hidden;
}

#poll > main > footer > button > svg {
  right: 0;
  position: absolute;
}

@media screen and (min-width: var.$mobileWidth) {
  #poll {
    display: flex;
    margin-top: 0;
    padding-left: calc(var.$spaceXSmall * 46);
  }
}
