@use '../base/var.base.scss';

#polls {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  width: 100%;
  padding: var.$space;
  gap: var.$space;
  padding-top: calc(var.$spaceXSmall * 14);
}

@media screen and (min-width: var.$mobileWidth) {
  #polls {
    margin-top: 0;
    padding-left: calc(var.$spaceSmall * 27);
  }
}
