[data-theme='dark'] {
  --color: rgb(240, 240, 250);
  --colorPlaceholder: rgb(100, 100, 115);
  --colorSwitch: black;
  --switch: rgba(255, 255, 255, 1);
  --outline: rgba(45, 45, 60, 1) 0.1rem solid;
  --side: rgba(45, 45, 60, 0.5);
  --primaryOutline: #7a4ee19b 0.1rem solid;
  --primaryExtra: rgb(91, 74, 184);
  --primary: linear-gradient(90deg, rgb(122, 78, 225) 0%, #6784da 100%),
    radial-gradient(
      at top right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    radial-gradient(
      at bottom left,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.2) 63%
    );
  --danger: rgb(255, 53, 53);
  --online: rgb(56, 212, 56);
  --primaryOpac: linear-gradient(90deg, #7a4ee14d 0%, #6784da53 100%),
    radial-gradient(
      at top right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at bottom left,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.3) 63%
    );
  --container: linear-gradient(
      90deg,
      rgba(37, 39, 71, 0.5) 0%,
      rgba(43, 33, 61, 0.5) 100%
    ),
    radial-gradient(
      at top right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    radial-gradient(
      at bottom left,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.2) 63%
    );
  --shadow: inset rgba(240, 240, 255, 0.05) 0 0 60px 0;
  --backgroundGradient: linear-gradient(90deg, #282a3d 0%, #2d263f 100%),
    radial-gradient(at top, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.15) 100%),
    radial-gradient(at top, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.08) 63%);
  --background: rgb(15, 15, 20);
  --backgroundOpac: rgba(15, 15, 20, 0.5);
}

[data-theme='light'] {
  --color: black;
  --colorPlaceholder: rgb(140, 140, 155);
  --colorSwitch: white;
  --switch: rgba(24, 28, 32, 1);
  --outline: rgba(200, 200, 215) 0.1rem solid;
  --side: rgba(200, 200, 215, 0.5);
  --primaryOutline: #804affd3 0.1rem solid;
  --primaryExtra: #7562f6;
  --primary: linear-gradient(90deg, #804affd3 0%, #5e73fed5 100%),
    radial-gradient(
      at top right,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    radial-gradient(
      at bottom left,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(0, 0, 0, 0.2) 63%
    );
  --danger: rgb(217, 52, 52);
  --online: rgb(75, 188, 95);
  --primaryOpac: linear-gradient(90deg, #804aff39 0%, #5e73fe4c 100%),
    radial-gradient(
      at top right,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(0, 0, 0, 0.05) 100%
    ),
    radial-gradient(
      at bottom left,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(0, 0, 0, 0.05) 63%
    );
  --container: rgba(255, 255, 255, 0.5);
  --shadow: rgba(99, 99, 99, 0.1) 0px 0px 8px 0px;
  --backgroundGradient: linear-gradient(
      90deg,
      rgb(235, 235, 250) 0%,
      rgb(235, 235, 245) 100%
    ),
    radial-gradient(at top, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(at top, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.08) 63%);
  --background: rgba(220, 220, 235);
  --backgroundOpac: rgba(220, 220, 235, 0.5);
}
