// Borde-radius
$round: 1rem;

// Padding
$size: 2rem;
$sizeLarge: calc($size * 1.5);
$sizeSmall: calc($size / 2);
$space: calc($size / 1.75);
$spaceLarge: calc($space * 1.5);
$spaceSmall: calc($space / 1.75);
$spaceSVG: calc($space / 2.25);
$spaceXSmall: calc($space / 3);
$spaceXXSmall: calc($spaceXSmall / 2);

// Color
$blend: multiply, screen;
$filter: blur(1rem);
$filterSize: 100% 2rem;

// Width
$mobileWidthSmall: 35rem;
$mobileWidth: 55rem;
$tabletWidthSmall: 55em;
$tabletWidth: 70em;
$maxWidthSmall: 70rem;
$maxWidth: 85rem;
