@use './comps/Link.comp.scss';
@use './comps/Nav.comp.scss';
@use './comps/Slider.comp.style.scss';
@use './comps/Img.comp.scss';
@use './comps/Poll.comp.scss';
@use './comps/Button.comp.scss';
@use './comps/Input.comp.scss';
@use './comps/Error.comp.scss';
@use './comps/Footer.comp.scss';
@use './comps/Side.comp.style.scss';
@use './comps/PollPie.comp.scss';
@use './comps/List.comp.scss';
@use './comps/Theme.comp.scss';
@use './comps/CountdownTimer.comp.scss';
@use './pages/Home.page.scss';
@use './pages/Auth.page.scss';
@use './pages/Polls.page.scss';
@use './pages/ErrorPage.page.scss';
@use './pages/Create.page.scss';
@use './pages/PollPage.page.scss';
@use './base/var.base.scss';
@use './base/theme.base.scss';
@use './base/anim.base.scss';
@use './utilities/Loading.utilities.scss';
@use 'node_modules/modern-normalize/modern-normalize.css';
@use '@fontsource/inter';

* {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  // font-family: 'inter';
  text-align: center;
  font-weight: normal;
  resize: none;
  text-decoration: none;
  border-style: none;
  padding: 0;
  margin: 0;
  outline-offset: 0;
  line-height: 1;
  list-style: none;
  outline: 2px solid transparent;
  border-radius: var.$round;
}

::placeholder {
  color: var(--colorPlaceholder);
}

.padding {
  padding: var.$space;
}

.paddingSmall {
  padding: var.$spaceXSmall;
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: var(--primaryOutline);
  transition: outline-color anim.$anim;
}

html,
body {
  height: 100%;
  background: var(--background);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
div,
p,
svg {
  text-align: start;
  margin: 0;
  color: var(--color);
}

textarea {
  text-align: start;
}

#root {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  z-index: 1;
}

#background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-blend-mode: var.$blend;
  background: var(--backgroundGradient);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  flex: 1;
  gap: var.$space;
}

.primaryBox {
  background: var(--primaryOpac) !important;
  background-blend-mode: var.$blend;
  box-shadow: var(--shadow);
}
