@use '../base/var.base.scss';

.dropdown {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background);
  background-blend-mode: var.$blend;
  outline: var(--outline);
}

.dropdown button {
  display: flex;
  justify-content: start;
  width: 100%;
  z-index: 2;
}

.dropdown > svg {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
}

.dropdown > ul {
  top: var.$size;
  position: absolute;
  width: 100%;
  max-height: 10rem;
  display: none;
  overflow: scroll;
  z-index: 1;
  padding: var.$spaceXXSmall;
  margin-top: var.$spaceSmall;
  gap: 0;
  backdrop-filter: var.$filter;
  -webkit-backdrop-filter: var.$filter;
  outline: var(--outline);
  background: var(--background);
  background-blend-mode: var.$blend;
}

.dropdown.open > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.label {
  position: relative;
  width: 100%;
}

.label > button {
  position: absolute;
  top: 0;
  right: 0;
}

input {
  width: 100%;
  color: var(--color);
  height: var.$size;
  padding: var.$spaceXSmall;
  text-align: start;
  outline: var(--outline);
  background: var(--background);
  background-blend-mode: var.$blend;
}

textarea {
  width: 100%;
  color: var(--color);
  padding: var.$spaceSmall;
  background: var(--background);
  background-blend-mode: var.$blend;
  outline: var(--outline);
}
