@use '../base/var.base.scss';

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var.$size;
  max-height: var.$size;
  background-blend-mode: var.$blend;
  text-decoration: none;
}

a.blur {
  backdrop-filter: var.$filter;
  -webkit-backdrop-filter: var.$filter;
}

a > div,
a > p {
  padding: var.$spaceSmall;
}

a.end > svg {
  padding-left: 0;
}

a.start > svg {
  padding-right: 0;
}

a.outline {
  border: var(--outline);
}

a.container {
  backdrop-filter: var.$filter;
  -webkit-backdrop-filter: var.$filter;
  background: var(--container);
}

a.container > div,
a.container > svg,
a.container > p {
  color: var(--color);
}

a.primary {
  backdrop-filter: var.$filter;
  -webkit-backdrop-filter: var.$filter;
  background: var(--primary);
}

a.primary > div,
a.primary > svg,
a.primary > p {
  color: white;
}

a.full {
  display: flex;
  width: 100%;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

a.active {
  background: var(--primary);
}

a.active > div,
a.active > svg,
a.active > p {
  color: white;
}
