@use '../base/var.base.scss';

ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-height: 100%;
  height: fit-content;
  flex: 1;
  gap: var.$space;
  padding: var.$space;
  padding-right: 0;
}

ul > header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var.$spaceXXSmall;
  padding-bottom: 0;
  min-height: var.$size;
  height: var.$size;
  max-height: var.$size;
}

ul > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var.$spaceSmall;
}

ul > div:last-of-type {
  display: flex;
  justify-content: end;
  height: 100%;
  flex: 1;
}
