@use '../base/var.base.scss';
@use '../base/anim.base.scss';

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var.$space;
  width: 100%;
  z-index: 3;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: var.$space;
  padding: var.$space;
}

nav > div > header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var.$spaceSmall;
  min-height: var.$size;
  height: var.$size;
  max-height: var.$size;
  flex: 1;
  z-index: 1;
}

nav > div > span {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var.$spaceXSmall * 11);
  backdrop-filter: var.$filter;
  -webkit-backdrop-filter: var.$filter;
  background: var(--backgroundOpac);
  border-radius: 0;
  transition: height anim.$anim;
  z-index: 0;
}

nav.active > div > span {
  display: flex;
  align-items: start;
  height: calc(var.$spaceXSmall * 55);
}

nav > div > main {
  display: none;
  justify-content: center;
  gap: var.$space;
  z-index: 1;
}

nav > div > div {
  display: flex;
  justify-content: end;
  flex: 1;
  height: var.$size;
}

nav > div > div > div {
  display: flex;
  justify-content: end;
}

nav > div > div > div > .login,
nav > div > div > div > .logout {
  display: none;
}

nav > footer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateY(-12.25rem);
  z-index: 1;
  opacity: 0%;
  transition:
    opacity anim.$anim 0.2s,
    transform anim.$anim;
  visibility: hidden;
}

nav.active > footer {
  visibility: visible;
  opacity: 100%;
  transition:
    opacity anim.$anim 0.2s,
    transform anim.$anim,
    visibility;
  transform: translateY(calc(var.$spaceSmall * 6));
}

nav > footer > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  padding: var.$space;
  padding-top: var.$spaceXSmall;
  gap: var.$space;
}

@media screen and (min-width: var.$mobileWidth) {
  nav.main {
    left: calc(var.$spaceSmall * 28);
    width: calc(100% - (var.$spaceSmall * 25));
  }

  nav > div > span {
    left: calc(var.$spaceXXSmall * 75);
    height: calc(var.$spaceXSmall * 11);
  }

  nav > div > header .img {
    display: none;
  }

  nav > div > div button {
    display: none;
  }

  nav.active > div > span {
    height: calc(var.$spaceXSmall * 11);
  }

  nav > footer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateY(-12.25rem);
    z-index: 1;
    opacity: 0%;
    transition:
      opacity anim.$anim 0.2s,
      transform anim.$anim;
    visibility: hidden;
  }

  nav.active > footer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateY(-12.25rem);
    z-index: 1;
    opacity: 0%;
    transition:
      opacity anim.$anim 0.2s,
      transform anim.$anim;
    visibility: hidden;
  }
}
