@use '../base/var.base.scss';
@use '../base/anim.base.scss';

.pollPie {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var.$space;
  padding: var.$space;
  pointer-events: none;
  box-shadow: var(--shadow);
  background: var(--container);
  background-blend-mode: var.$blend;
}

@media screen and (min-width: var.$mobileWidth) {
  .pollPie {
    flex-direction: row-reverse;
  }
}

.pollPie > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 15rem;
  min-height: 15rem;
  width: 100%;
  height: 100%;
}

.pollPie > div svg {
  padding: 0;
  margin: 0;
  min-width: 15rem;
  min-height: 15rem;
  width: 100%;
  height: 100%;
  stroke-opacity: 0%;
}

.pollPie > main {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space;
  min-width: calc(var.$size * 6);
  gap: var.$space;
}

.pollPie > main > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var.$spaceSmall;
  padding: var.$spaceSmall;
  background: var(--background);
}

.pollPie > main > div:last-of-type {
  flex: 1;
  padding: 0;
  background: transparent;
}

.pollPie > main > div > span {
  display: flex;
  width: 100%;
  min-height: var.$spaceSmall;
  max-height: var.$spaceSmall;
  background: var(--container);
  background-blend-mode: var.$filter;
  box-shadow: var(--shadow);
}

.pollPie > main > div > span > div {
  transition: anim.$anim width;
}

.pollPie > main > div > div {
  display: flex;
  align-items: center;
  gap: var.$spaceXSmall;
}
