@use '../base/var.base.scss';
@use '../base/anim.base.scss';

.poll {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
  gap: var.$space;
  padding: var.$space;
  box-shadow: var(--shadow);
  background: var(--container);
  background-blend-mode: var.$blend;
}

@media screen and (min-width: var.$mobileWidth) {
  .poll {
    min-width: calc(var.$size * 14);
  }
}

.poll > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(var.$size * 4);
  outline: none;
  background: transparent;
  box-shadow: none;
}

.poll img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  opacity: 15%;
  object-fit: cover;
  object-position: center;
  filter: blur(0.15rem);
  -webkit-filter: blur(0.15rem);
  z-index: -1;
}

.poll > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var.$spaceSmall;
  flex: 1;
}

.poll > div > div,
.poll > div > p {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.poll > header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: var.$sizeLarge;
}

.poll > header > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var.$size;
  background: var(--backgroundOpac);
  outline: 0.1rem solid var(--online);
}

.poll > header > div > p {
  padding: var.$spaceSmall;
  padding-right: 0;
}

.poll > header > div > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.poll > header > div > svg {
  color: var(--online);
  animation: 2.5s infinite pulse ease;
  z-index: 2;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
    opacity: 100%;
  }
  50% {
    transform: scale(1);
    opacity: 35%;
  }
  100% {
    transform: scale(1.1);
    opacity: 100%;
  }
}

.poll > header > h3 {
  text-align: start;
}

.poll > main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var.$space;
  width: 100%;
}

.poll > main > a {
  align-self: end;
}

.poll > main > .progressBar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var.$space;
  padding: var.$space;
  width: 100%;
  min-height: calc(var.$spaceSmall * 7);
  height: calc(var.$spaceSmall * 7);
  max-height: calc(var.$spaceSmall * 7);
  background: var(--background);
  flex: 1;
}

.poll > main > .progressBar > div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var.$spaceXSmall;
  min-height: var.$spaceSmall;
  max-height: var.$spaceSmall;
  padding: 0;
}

.poll > main > .progressBar > div:first-of-type > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var.$sizeSmall;
  height: var.$sizeSmall;
  padding: var.$spaceXXSmall;
}

.poll > main > .progressBar > div:first-of-type > div:first-of-type > div {
  width: 100%;
  height: 100%;
  background: var(--primary);
}

.poll > main > .progressBar > div:first-of-type > div:nth-of-type(2) {
  text-align: start;
  flex: 1;
}

.poll > main > .progressBar > .percent {
  width: 100%;
  background: var(--container);
  box-shadow: var(--shadow);
  background-size: var.$filterSize;
  background-blend-mode: var.$blend;
  min-height: var.$spaceSmall;
  max-height: var.$spaceSmall;
}

.poll > main > .progressBar > .percent > div {
  height: var.$spaceSmall;
  width: 50%;
  background: var(--primary);
  background-blend-mode: var.$blend;
  transition: anim.$anim width;
}
