@use '../base/var.base.scss';
@use '../base/anim.base.scss';

.pollPie {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  gap: var.$space;
  padding: var.$space;
  pointer-events: none;
  box-shadow: var(--shadow);
  background: var(--container);
  background-blend-mode: var.$blend;
}

.pollPie > div {
  flex: 1;
  min-width: calc(var.$size * 5);
  min-height: calc(var.$size * 5);
  max-width: calc(var.$size * 9);
}

.pollPie > div svg {
  display: flex;
  min-width: 100%;
  max-height: 100%;
  padding: 0;
  stroke-opacity: 0%;
}

.pollPie > main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space;
  min-width: calc(var.$size * 6);
  gap: var.$space;
}

.pollPie > main > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var.$spaceSmall;
  padding: var.$spaceSmall;
  background: var(--background);
}

.pollPie > main > div:last-of-type {
  flex: 1;
  padding: 0;
  background: transparent;
}

.pollPie > main > div > span {
  display: flex;
  width: 100%;
  height: var.$sizeSmall;
  background: var(--container);
  background-blend-mode: var.$filter;
  box-shadow: var(--shadow);
}

.pollPie > main > div > span > div {
  transition: anim.$anim width;
}

.pollPie > main > div > div {
  display: flex;
  align-items: center;
  gap: var.$spaceSmall;
}
