@use '../base/var.base.scss';

.side {
  position: fixed;
  display: none;
  overflow: scroll;
  left: 0;
  top: 0;
  width: calc(var.$spaceSmall * 25);
  height: 100%;
  backdrop-filter: var.$filter;
  -webkit-backdrop-filter: var.$filter;
  background: var(--container);
  border-radius: 0;
  box-shadow: var(--shadow);
  background-blend-mode: var.$blend;
  z-index: 3;
}

@media screen and (min-width: var.$mobileWidth) {
  .side {
    display: flex;
  }
}
