@use '../base/var.base.scss';

.side {
  position: fixed;
  display: none;
  overflow: scroll;
  left: 0;
  top: 0;
  width: calc(var.$spaceSmall * 28);
  height: 100%;
  backdrop-filter: var.$filter;
  -webkit-backdrop-filter: var.$filter;
  background: var(--container);
  box-shadow: var(--shadow);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-blend-mode: var.$blend;
  z-index: 3;
}

@media screen and (min-width: var.$mobileWidth) {
  .side {
    display: flex;
  }
}
