@use '../base/var.base.scss';

.slider {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var.$spaceSmall;
  padding: var.$spaceSmall;
  background: var(--background);
  background-blend-mode: var.$blend;
  outline: var(--outline);
}

.slider > main {
  position: relative;
  display: flex;
  height: var.$space;
  width: 100%;
  overflow: hidden;
}

.slider > main > input {
  position: absolute;
  width: 100%;
  appearance: none;
  height: var.$space;
  padding: 0;
  outline: none;
  background: var(--container);
  background-blend-mode: var.$blend;
  background-size: var.$filterSize;
}

.slider > main > span {
  position: absolute;
  width: 100%;
  height: var.$space;
  border-radius: 0.5rem;
  background: var(--primary);
}

.slider > main > ::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: var.$space;
  height: var.$space;
  border-radius: var.$round;
  box-shadow: var(--shadow);
  background: var(--primary);
}
