@use '../base/var.base.scss';
@use '../base/anim.base.scss';

.theme {
  display: flex;
  padding: var.$spaceXSmall;
  gap: var.$spaceXSmall;
  box-shadow: var(--shadow);
  background: var(--container);
  background-blend-mode: var.$blend;
  box-shadow: var(--shadow);
}

.theme > button div {
  display: none;
}

@media screen and (min-width: calc(var.$mobileWidth / 2)) {
  .theme > button div {
    display: block;
  }
}
